page-register {
.center{


		  margin-top: 75px;
        justify-content: center;
        align-items: center;
	}

	.button{
	
  
  letter-spacing: .05em;
 
  background: #225556;
  
  cursor: pointer;
	}






}
